@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicUltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  src: url('/font/nanum-barun-gothic/NanumBarunGothicBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    'NanumBarunGothic', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

/*스크롤바 안보이게 */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .custom-font {
    font-family: 'Anton', sans-serif;
  }
}
